{% extends "base.html" %}

{% block content %}
<main>
<center>
<h2><center>Adventure Blogs & Adventure Travel Blogs</h2></center>
<center><h3><p>These are all of my adventure blogs & adventure travel blogs to inspire </p></center>
<center><p>you to do something different on your travels!</p></h3></center>
<center><p>I am a proper adrenaline junkie, and I love nothing more than facing up to my fears and challenging myself. Honestly, when it comes</p></center>
<center><p>to adventure activities there’s nothing I wouldn’t do. Worryingly, I really mean that!</p></center>
<center><p>Strap yourself in because I can’t wait to show you what adventure activities I’m up to next. Hopefully you’ll be inspired to do a few</p></center>
<center><p>along the way too!</p></center>

    <style>
        /* Style for the image container */
        .image-container {
            position: relative;
            display: inline-block;
        }

        /* Style for the image */
        .image-container img {
            width: 100%;
            height: auto;
        }

        /* Style for the text overlay */
        .image-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
        }

    </style>
</head>

   <br/> <div class="image-container text-center">
        <img src="static/images/Top-Countries-Turkey.jpg" alt="blog Image">
        <div class="image-text">
          TURKEY
        </div>
    </div>
    <div class="image-container text-center">
        <img src="static/images/Top-Countries-Spain.jpg" alt="blog Image">
        <div class="image-text">
          Spain
        </div>
    </div>
     <div class="image-container text-center">
        <img src="static/images/Top-Countries-Austria.jpg" alt="blog Image">
        <div class="image-text">
          Austria
        </div>
    </div>
    <div class="image-container text-center">
        <img src="static/images/Top-Countries-Bulgaria.jpg" alt="blog Image">
        <div class="image-text">
          Bulgaria
        </div>
    </div>
     <div class="image-container text-center">
        <img src="static/images/Top-Countries-Croatia.jpg" alt="blog Image">
        <div class="image-text">
          Croatia
        </div>
    </div>
    <div class="image-container text-center">
        <img src="static/images/Top-Countries-Japan.jpg" alt="blog Image">
        <div class="image-text">
          Japan
        </div>
    </div>
    <div class="image-container text-center">
        <img src="static/images/Top-Countries-Jordan.jpg" alt="blog Image">
        <div class="image-text">
          Jordan
        </div>
    </div>
    <div class="image-container text-center">
        <img src="static/images/Top-Countries-Mexico.jpg" alt="blog Image">
        <div class="image-text">
          Mexico
        </div>
    </div>

</main>
{% endblock %}
