<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Travel Blog</title>
    <link rel="stylesheet" href="static/css/style.css">
<header class="header">
    <div class="navbar">
        <img src="static/images/project 005.png" alt="blog Image" width="70" height="70">
        <a href="/">Home</a>
        <a href="/Destination">Destination</a>
        <a href="/Adventure">Adventure</a>
        <a href="/about">About</a>
        <a href="/contact">contact</a>
         </div>
    </div>
</header>


</head>
<body>

    {% block content %}
    {% endblock %}
<footer>
    <p>&copy; 2023 Travel Blog. All rights reserved.</p>
  </footer>
</body>
</html>
