 {% extends "base.html" %}

{% block content %}

<h1>Canada</h1>
<br/>
<center><head><h1>Canada Travel Blogs</h1></head>
 <img src="static/images/Top-Countries-Canada.jpg" alt="blog Image">
<h1>These are all of my Canada travel blogs at</h1>
 <h1>An Adventurous World</h1>
<p>Oh Canada, I do love you. Even though it’s the second largest country in the</p>
 <p>world (by landmass that is), I actually feel like I know Canada very well as I’ve</p>
 <p>been a bunch of times now. In fact, I think I’ve done more of Canada than most Canadians!</p>
 <br>
 <p>I really enjoy giving advice on where’s good to go in Canada (honestly, you can</p>
 <p>ask me anything!) Being a major foodie, here are some of our favourite places</p>
 <p>to eat in Tofino, and a wine tour of the Naramata Valley is a must too if you’re</p>
 <p>in the Okanagan Valley. And did someone mention Whitehorse and the Yukon? What. A. Place</p>
 <br>
 <p>Oh, and make sure you keep on popping back because we’re always updating our Canada travel blogs!</p>
 <p>Yep, when I say I love canada, I really do mean it!</p>

 </center>

 {% endblock %}

