 {% extends "base.html" %}

{% block content %}

<h1>Chile</h1>
<br/>
<center><head><h1>Chile Travel Blogs</h1></head>
 <img src="static/images/Top-Countries-Chile.jpg" alt="blog Image">
<h1>These are all of my Chile travel blogs at</h1>
 <h1>An Adventurous World</h1>
<p>Chile is a photographer’s paradise, it really is. With the Atacama Desert in the</p>
 <p>north you’ve got some landscapes that are truly out of this world. Then there’s</p>
 <p>the Alps of Chile in Pucon and Puerto Varas, and that’s even before mentioning</p>
 <p>Patagonia, one of the most beautiful places in the world..</p>
 <p>I spent a month travelling around Chile in 2020 and I hardly put my camera</p>
 <p>away; it’s definitely one of my favourite countries to photograph. A couple of</p>
 <p>my highlights were visiting Valle de la Luna, the Valley of the Moon, and seeing</p>
 <p>the lagoons of the Atacama Highlands. I told you these landscapes were something else!</p>
 <br>
 <p>If you’re looking for some Chile travel advice and information then make sure</p>
 <p>you read all of my Chile travel blogs!</p>

 </center>

 {% endblock %}

