 {% extends "base.html" %}

{% block content %}

<h1>Cuba</h1>
<br/>
<center><head><h1>Cuba Travel Blogs</h1></head>
 <img src="static/images/Top-Countries-Cuba.jpg" alt="blog Image">
<h1>These are all of my Cuba travel blogs at</h1>
 <h1>An Adventurous World</h1>
 <br>
<p>“Oh Havana na na na, my heart is in Havana na na na…”</p>
 <br>
 <p>Yep, like everyone else I left a little bit of my heart in Havana.</p>
 <p>With its rustic charm of old colourful colonial buildings to the kind-hearted</p>
 <p>people you meet on the streets to its rich and vibrant history, Havana has a soul</p>
 <p>to it rarely found anywhere else in the world.</p>
 <br>
 <p>Even though the far majority of people just visit Havana, the rest of the country</p>
 <p>is incredible too with so much to see and do.</p>

 <br>
 <p>There are beautiful beaches to laze, forests and coffee plantations to discover,</p>
 <p>mountains with caves to explore.</p>
 <p>From rural Viñales to urban Havana, there really is something for everyone here</p>
 <p>and you’ll love it.</p>
<p>Take a look at all my Cuba travel blogs and hopefully you’ll be inspired to travel to cuba</p>
<p></p>
 </center>

 {% endblock %}

