 {% extends "base.html" %}

{% block content %}

<h1>Denmark</h1>
<br/>
<center><head><h1>Denmark Travel Blogs</h1></head>
 <img src="static/images/Top-Countries-Denmark.jpg" alt="blog Image">
<h1>These are all of my Denmark travel blogs at</h1>
 <h1>An Adventurous World</h1>
<p>I’ve been to Denmark a few times and I can assure you there’s more to this</p>
 <p>country than just Copenhagen! Aarhus, the second largest city in Denmark, is/p>
 <p>like Copenhagen’s little sister. There’s still that creative vibe there with some</p>
 <p>quirky museums and statues around the city, but it’s much much quieter. Also,</p>
 <p>it’s right on the coast with some surprisingly beautiful beaches.s</p>
 <br>
 <p>Jutland, also known as the Cimbrian Peninsula, is to the north of the country</p>
 <p>and if you really want to lose yourself in the wilderness then this is the place to</p>
<P>do it. Also, you have heard of Roskilde – it’s a town in Denmark that hosts one of</P>
<P>Europe’s best music festivals every year, so that’s another place to check out.</P>
 <br>
 <p>Still, no matter where you go in Denmark you’re pretty much guaranteed to have an amazing time!</p>



 </center>

 {% endblock %}

