 {% extends "base.html" %}

{% block content %}

<h1>Greenland</h1>
<br/>
<center><head><h1>Greenland Travel Blogs</h1></head>
 <img src="static/images/Top-Countries-Greenland.jpg" alt="blog Image">
<h1>These are all of my Greenland travel blogs at</h1>
 <h1>An Adventurous World</h1>
<p>Greenland. Greenland is without a doubt the most beautiful country I’ve ever</p>
 <p>been to. There, I’ve said it. I mean it too.</p>
 <br>
 <p>Being the least densely populated country in the world, not many people get the</p>
 <p>change to travel to Greenland, but those that do get to experience a place like</p>
 <p>no other. It is raw and rugged, the vast wilderness stretching on and on, and it</p>
 <p>takes your breath away every single day you are there.</p>
 <br>
 <p>If you’re looking for a good overview of what it’s like to travel in Greenland,</p>
 <p>then the best place to start is my article on the best things to do in Greenland.</p>
 <p>From kayaking with icebergs to exploring abandoned settlements just outside of</p>
 <p>Nuuk, I really got to experience a number of things in Greenland and I’m still dying to see more.</p>

 </center>

 {% endblock %}

