{% extends "base.html" %}

{% block content %}
  <main>
   <P>Every now and then I like to get a little sentimental and write a really personal blog about myself (hey, I’m allowed to, right? I think that’s what blogging is all about anyway!)</P>

<P>These personal travel blogs are usually about me, my plans, my thoughts, my feelings. Anything and everything that’s going on in my mind. I really want to inspire you to do something different on your travels, to see the world in a different light – hopefully after reading a few of these personal travel blogs it’ll give you the desire to do something new and exciting.</P>

<P>With that in mind, here are a couple of my favourite travel blogs. Going back to the beginning of things, this is why I am completely addicted to travelling, and a bit of a cheeky one for you but this is the 5 times while travelling. Enjoy</P>
  <CENTER><h2>MY FAVOURITE DESTINATIONS</h2></CENTER>
<div class="container text-center">
  <div class="blog">
   <img src="static/images/Top-Countries-Austria.jpg" alt="Blog Image">

  </div>

  <div class="blog">
    <img src="static/images/Top-Countries-Bulgaria.jpg" alt="Blog Image">
  </div>

  <div class="blog">
    <img src="static/images/Top-Countries-Croatia.jpg" alt="Blog Image">
  </div>

</div>

<div class="container text-center">
  <div class="blog">
   <img src="static/images/Top-Countries-Mexico.jpg" alt="Blog Image">

  </div>

  <div class="blog">
    <img src="static/images/Top-Countries-Japan.jpg" alt="Blog Image">
  </div>

  <div class="blog">
    <img src="static/images/Top-Countries-Jordan.jpg" alt="Blog Image">
  </div>

 </div>
</main>
{% endblock %}
