 {% extends "base.html" %}

{% block content %}

<h1>Mexico</h1>
<br/>
<center><head><h1>Mexico Travel Blogs</h1></head>
 <img src="static/images/Top-Countries-Mexico.jpg" alt="blog Image">
<h1>These are all of my Mexico travel blogs at</h1>
 <h1>An Adventurous World</h1>
<p>Arriba arriba! Amor México! I love Mexico! Seriously, I really do love Mexico a</p>
 <p>this country has so much going for it. Beautiful beaches, cracking cities, historic</p>
 <p>sites, a party scene that could trump anyone’s, world class cuisine (we’re</p>
 <p>talking about tacos people!). I could go on and on, but Mexico is da bomb.</p>
 <br>
 <p>When I did my big Central America trip in 2014 I started in Mexico travelling</p>
 <p>made a very good one (which you can see in my episode Travel in Mexico City!)</p>

 <br>
 <p>A few of my other highlights were visiting Oaxaca, a city that’s famous for its</p>
 <p>food, and diving the cenotes near Tulum, without a doubt one of the best dive</p>
 <p>sites in the world. Now that’s an adventure!</p>
 <p>Yep, when I say I love Mexico, I really do mean it!</p>

 </center>

 {% endblock %}

