 {% extends "base.html" %}

{% block content %}

<h1>United Kingdom</h1>
<br/>
<center><head><h1>UK  Travel Blogs</h1></head>
 <img src="static/images/Top-Countries-uk.jpg" alt="blog Image">
<h1>These are all of my UK travel blogs at</h1>
 <h1>An Adventurous World</h1>
<p>One of the best things about the UK is it’s small. How many places around the</p>
 <p>Even though I love flying off to destinations unknown, I also love going on</p>
 <p>adventures closer to home and that means exploring the UK. With so much to</p>
 <p>see and do in the UK, it’s great going off for the weekend to a different part of</p>
 <p>the country and doing something new and exciting.</p>
 <br/>
 <br/>
 <p>The UK is a diverse country with a population of over 66 million people. The </p>
 <p>largest ethnic group is white British, but there are also significant </p>
 <p>populations of people from South Asia, Africa, and the Caribbean.</p>
 <p>he UK is a popular tourist destination, known for its iconic landmarks such </p>
 <p>as Buckingham Palace, the Tower of London, and the Houses of Parliament</p>
 <p>The country is also home to a world-class cultural scene, with museums, </p>
 <p>theaters, and galleries to suit all tastes.</p>


 </center>

 {% endblock %}

