 {% extends "base.html" %}

{% block content %}

<h1>United States</h1>
<br/>
<center><head><h1>USA Travel Blogs</h1></head>
 <img src="static/images/Top-Countries-USA.jpg" alt="blog Image">
<h1>These are all of my USA travel blogs at</h1>
 <h1>An Adventurous World</h1>
<p>The USA. Where do I even start on this one!? As the third largest country in the</p>
 <p>world – both on population and land mass – there’s just so much to see and do in</p>
 <p>the USA, there really is.</p>
 <p>You’ve got the arid deserts in the south, the beautiful Pacific coastline in the</p>
 <p>west, the Rocky Mountains in the north, some of the best cities in the east, and</p>
 <p>a whole load of nothing in the middle if that’s your thing too!</p>
 <p>Every time I go back to the USA I’m always taken aback at how much there is to</p>
 <p>do in the country. It’s no wonder Americans don’t travel much; they’ve got</p>
 <p>everything already on their doorstep! Still, a couple of my favourite places in</p>
 <p>the USA has to be Oregon Coast and I love the kookiness of Portland too. Yep,</p>
 <p>the USA seems to have it all and more!</p>


 </center>

 {% endblock %}

